.App {
  text-align: center;
  /* die unteren zwei sind für die Draggable.js File */
  width: 95%;
  margin: 15px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Auch hier die unteren sind für die Draggable.js */

.container-drag {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 500px;
}

.wip {
  position: absolute;
  width: 150px;
  height: 400px;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}

.droppable {
  position: absolute;
  width: 350px;
  height: 400px; 
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}

.clockText {
  font-size: 20px;
  color: lightsalmon;
  font-weight: bold;
  border-width: 2px;
  border-color: forestgreen;
  border-style: solid;
  margin: 5px;
  background-color: rgb(8, 83, 14);
  width: max-content;
  font-family: Verdana;
  /*damit dir uhrzeit in der mitte ist*/
  display: block;
  margin-left: auto;
  margin-right: auto  
}

@font-face {
  font-family: digital;
  src: url(DigitalFonts/digital-7.ttf)
}

.App-clock {
  font-size: 50px;
  color: rgb(20, 43, 250);
  font-weight: bold;
  border-width: 2px;
  border-color: forestgreen;
  border-style: solid;
  margin: 5px;
  background-color: rgb(0, 0, 0);
  width: 200px;
  text-align: center;
  font-family: digital;
  /*damit dir uhrzeit in der mitte ist*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*das auch der Text innerhalb des Block mittig ist*/
  text-align: center;
  
   
}